.dashboard-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 225, 11);
}

.dashboard-sidebar{
    display:flex;
    flex-direction: column;
    width: 18vw;
    height: 100vh;
    background-color: brown;
}

.header-container{
    height: 10vh;
    background-color: rgb(91, 112, 247);
    font-size: 1vh;
    font-family: Arial, Helvetica, sans-serif;

}

.content-container{
    display: flex;
    height: fit-content;
    margin-left: 10vw;
}

.display-item{
    display: flex;
    width: 2vw;
    height: 5vh;
    background-color: white;
    margin: 15px;
}

.items  {
    display: flex;
    width: fit-content;
    margin-left: 100px;
    margin-right: 100px;
}
