.app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: rebeccapurple;
    overflow-y: hidden;
  }
  
  .workspace-container {
    display: flex;
  }
  
  .content {
    width: 100%;
    display: flex;
    background-color: red;
  }
  .content-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
  }

  .content-left > * {
    width:100%;
    height: 100%;
  }

  .content-right{
    width: 50%;
    height: 100vh;
  }
  
  .right-sidebar {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .gray-bg {
    background-color: #e3f2fd;
  }
  
  .white-bg {
    background-color: #d2fdff;
  }
  
  .rectangle {
    width: 100%;
    height: 100%;
    background-color: #90e0ef;
    color: white;
    display: flex;
  }
  
  .padding {
    padding: 20px;
    margin: 10px;
  }