body, html {
  height: 100%;
  margin: 0; 
  padding: 0; 
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  height: 100vh; 
}

.right-sidebar {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.gray-bg {
  background-color: #ffffff;
}

.white-bg {
  background-color: #d2fdff;
}

.rectangle {
  width: 150px;
  height: 100px;
  background-color: #90e0ef;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.padding {
  padding: 20px;
  margin: 10px;
}