.logo {
  cursor: pointer;
  position: absolute;
  margin-top: 1rem; 
  z-index: 1; 
}

.sidebar-container {
  position: absolute;
  background-color: #b3dffd;
  width: 50px;
  height: 100vh;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  left: -50px;
  transition: all 0.3s ease;
  z-index: 1;
}
.sidebar-container:hover {
  left: 0;
}
.sidebar-content{
  height: 100%;
}
.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  margin-bottom: 1rem;
}

.sidebar-content button {
  max-width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

.dashboard {
  margin-top: 4rem;
}

.favorite:hover svg,
.dashboard:hover svg,
.library:hover svg,
.logout:hover svg {
  color: #f0feff !important; 
}

.logout {
  margin-top: auto; 
}