@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar-container h3{
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: #b3dffd;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100vw;
    margin-left: 90vw;
    padding-left: 2.7vw;
    font-size: 1.5vw;
}

.navbar-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    height: 100%;
    width: 10vw;
    background-color: #d1eafc;
    font-size: .8vw;
    z-index: 9999
    
}

.navbar-container ul {
    margin-top: 4vh;
    
}

.navbar-container li{
    color: black;
    list-style: none;
    padding: 2vh;
}
.navbar-container a{
    font-family: 'Poppins', sans-serif;
    color: black;
}

nav ul li a:hover {
    color: #ffffff;
    
}

nav ul li a.active-link {
    color: rgb(255, 255, 255);
}