.sidebar {
    background-color: #43cee7; 
    width: 2vw; 
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    align-items: center; 
    padding: 1vh; 
  }
  
  .logo {
    margin-top: 2vh; 
    margin-bottom: 2vh; 
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .favorite,
  .library,
  .history {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 2vh; 
  }
  
 
  .favorite:hover svg,
  .library:hover svg,
  .history:hover svg,
  .logout-button:hover svg {
    color: #03045e !important; 
  }
  
  .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 70vh;
  }
  