.pdf-viewer-container {
  height: 66vh; 
  margin: 5px;
  position: relative; 
  background-color: #b3dffd;
  margin-top: -0.75%;
}

.pdf-navbar {
  margin-bottom: 10px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #d1eafc;
  font-family: 'Poppins', sans-serif;
}

.pdf-navbar button {
  background-color: #e6f3fd;
  margin: 5px;
}

.pdf-content {
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: gray;
  border: 1px solid black;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 
}

.pdf-viewer-container .screenshot-modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.outputs {
  margin-top: 10px;
  margin: 5px;
  height: 27vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snip-preview {
  background-color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
  padding: 10px;
  padding-top: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-y: auto;
}

.ai-output {
  background-color: white;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

.ai-output button {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #e6f3fd;
}

.output-header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-output-header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.preview-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.preview-image-modal img {
  max-width: 90%;
  max-height: 90%;
}

.input-box {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.dropdown-box {
  font-family: 'Poppins', sans-serif;
}